_trial_temp
.coverage
docs/api
build
build-stamp
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars
debian/tmp
debian/files
debian/landscape-base
debian/landscape-client
debian/landscape-client-base
debian/landscape-common
debian/landscape-sysinfo
debian/python-landscape-lib
debian/python3-landscape-lib
man/landscape-client.1
man/landscape-config.1
man/landscape-message.1
man/landscape-sysinfo.1
apt-update/apt-update
docs
tags
_last_py2_res
*.pyc
.cache
