Source: landscape-client
Section: admin
Priority: optional
Maintainer: Landscape Team <landscape-team@canonical.com>
Build-Depends: debhelper (>= 5), po-debconf, python-dev, python-central | python-support, lsb-release, gawk, python-twisted-core
Standards-Version: 3.8.0
XS-Python-Version: >= 2.4, << 2.7

Package: landscape-common
Architecture: any
Depends: ${python:Depends}, ${misc:Depends}, ${extra:Depends},
         python-dbus | python2.4-dbus,
         python-gnupginterface,
         python-twisted-core,
         python-gobject,
         python-apt,
         ca-certificates,
         perl-modules,
         python-gdbm,
         lsb-release,
         lsb-base,
         adduser
Suggests: ${extra:Suggests}
Replaces: landscape-client (<= 1.0.23-0ubuntu0.8.10)
Description: The Landscape administration system client
 Landscape is a web-based tool for managing Ubuntu systems. This
 package is necessary if you want your machine to be managed in a
 Landscape account.
 .
 This package provides the core libraries.
XB-Python-Version: ${python:Versions}

Package: landscape-client
Architecture: any
Depends: ${python:Depends}, ${misc:Depends},
         python-pycurl | python2.4-pycurl,
         python-twisted-web,
         landscape-common (>= ${Source-Version}),
         hal
Description: The Landscape administration system client
 Landscape is a web-based tool for managing Ubuntu systems. This
 package is necessary if you want your machine to be managed in a
 Landscape account.
 .
 This package provides the Landscape client and requires a Landscape account.
XB-Python-Version: ${python:Versions}
