Source: landscape-client
Section: admin
Priority: optional
Maintainer: Ubuntu Core Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 6.0.7~), po-debconf
Build-Depends-Indep: python-dev, python-central, lsb-release, gawk
Standards-Version: 3.8.0
XS-Python-Version: >= 2.4

Package: landscape-common
Architecture: all
Pre-Depends: python, ${misc:Depends}, python-gobject
Depends: ${python:Depends}, python-twisted-core, python-dbus, lsb-release, lsb-base, perl-modules,  python-gdbm,  ca-certificates, adduser, update-motd
XB-Python-Version: ${python:Versions}
Replaces: landscape-client (<= 1.0.18-0ubuntu2)
Description: The Landscape administration system client
 Landscape is a web-based tool for managing Ubuntu systems. This
 package is necessary if you want your machine to be managed in a
 Landscape account.
 .
 This package provides the core libraries.
 
Package: landscape-client
Architecture: all
Pre-Depends: python, ${misc:Depends}
Depends: ${python:Depends}, landscape-common, hal, python-twisted-web, python-smartpm, python-pycurl
XB-Python-Version: ${python:Versions}
Description: The Landscape administration system client
 Landscape is a web-based tool for managing Ubuntu systems. This
 package is necessary if you want your machine to be managed in a
 Landscape account.
 .
 This package provides the Landscape client and requires a Landscape account.
