[Unit]
Description=Landscape client daemons
Documentation=man:landscape-client(1)
Documentation=man:landscape-config(1)
After=local-fs.target
After=remote-fs.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Group=landscape
ExecStart=/usr/bin/landscape-client
# Don't kill cgroup as child dpkg may restart the service during an upgrade.
KillMode=process
