#!/bin/sh

PACKAGE=landscape-client

CONFIGFILE=/etc/landscape/client.conf
set -e
. /usr/share/debconf/confmodule

# This function also exists in the postinst, please keep them in sync
get_var_from_file() {
        var="$1"
        file="$2"
        val=$(grep "^$var\s*=\s*" "$file" 2>/dev/null | tail -n1 | sed "s/^.*=\s*//")
        echo "$val"
}

# Load config file, if it exists.
if [ -e $CONFIGFILE ]; then
	# Config file is "ini" type, not shell, so we cannot source it
	COMPUTER_TITLE=$(get_var_from_file "computer_title" "$CONFIGFILE")
	ACCOUNT_NAME=$(get_var_from_file "account_name" "$CONFIGFILE")
	REGISTRATION_PASSWORD=$(get_var_from_file "registration_password" "$CONFIGFILE")
        URL=$(get_var_from_file "url" "$CONFIGFILE")
        PING_URL=$(get_var_from_file "ping_url" "$CONFIG_FILE")

        # Store values from config file into
        # debconf db.

        db_set $PACKAGE/computer_title $COMPUTER_TITLE
        db_set $PACKAGE/account_name $ACCOUNT_NAME
        db_set $PACKAGE/registration_password $REGISTRATION_PASSWORD
        db_set $PACKAGE/url $URL
        db_set $PACKAGE/ping_url $PING_URL
fi

# Ask questions.
# Do debconf configuration
db_get $PACKAGE/register_system
if [ "$RET" = true ]; then
    priority=high
else
    priority=medium
fi
db_input "$priority" $PACKAGE/computer_title || true
db_input "$priority" $PACKAGE/account_name || true
db_input "$priority" $PACKAGE/registration_password || true
db_go || true

