#!/usr/bin/make -f

dist_release := $(shell lsb_release -cs)
ifneq ($(dist_release),dapper)
  use_pycentral = yes
endif

package = landscape-client
root_dir = debian/$(package)

build: build-stamp
build-stamp:
	dh_testdir
	python setup.py build
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	rm -rf build
	dh_clean
	debconf-updatepo

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs \
		etc/landscape \
		var/lib/landscape \
		var/log/landscape \

	python setup.py install --root $(root_dir)

	install -D -o root -g root -m 644 dbus/landscape.conf $(root_dir)/etc/dbus-1/system.d/landscape.conf

binary-arch:
# do nothing
#
binary-indep: build install
	# That's not present in Ubuntu releases we still support, so
	# we're just installing the lintian overrides file by hand
	# for now.
	dh_lintian
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installman man/landscape-client.1 man/landscape-config.1 man/landscape-message.1
	dh_installchangelogs
	dh_install
	dh_installinit -- start 25 2 3 4 5 . stop 15 1 .
	dh_installlogrotate
	dh_installdebconf
	dh_compress
	dh_fixperms


ifeq ($(use_pycentral),yes)
	DH_PYCENTRAL=nomove dh_pycentral
else
	dh_python
endif
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch binary-indep

.PHONY: binary binary-arch binary-indep clean
