<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">

<policyconfig>
  <vendor>Canonical Ltd.</vendor>
  <vendor_url>http://www.canonical.com</vendor_url>
  <icon_name>preferences-management-service</icon_name>

  <action id="com.canonical.LandscapeClientSettings.configure">
    <description gettext-domain="landscape-client">Allow the user to read and write Landscape Client settings.</description>
    <message gettext-domain="landscape-client">System policy prevents you from reading and writing Landscape Client Settings.</message>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>

