name: ci
on: [pull_request, workflow_dispatch]
jobs:
  check:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-22.04", "ubuntu-24.04"]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - run: make depends-ci
      - run: make check TRIAL=/usr/bin/trial3
      
  run-ruff:
    if: '!github.event.pull_request.draft'
    name: ruff
    # NOTE: Ruff is a self-contained binary, no matrix needed
    runs-on: ubuntu-latest
  
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
  
      - uses: astral-sh/ruff-action@v3
      - run: make ruff-check
